<div class="modal fade" id="updateFilterModal" tabindex="-1" aria-labelledby="filterEditModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="filterEditModalLabel">Editar Filtros</h5>
				<button type="button" class="close position-absolute close-btn" style="top:1rem;right:1rem;" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="filterEditForm">
					<div id="validationErrorCard"></div>
					<!-- Los campos se agregarán dinámicamente con JavaScript -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id='btnCancel' class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" id="btnUpdate">Guardar</button>
			</div>
		</div>
	</div>
</div>
