<!-- Filtros activos con botón toggle -->

<div class="position-relative d-none">
	<div id="toggleFiltrosActivos" class="d-flex align-items-center mb-2" style="cursor: pointer;">
		<i id="iconToggleFiltros" class="fas fa-chevron-down mr-2"></i>
		<strong>Filtros activos</strong>
	</div>

	<div
		id="filtrosActivos" class="d-flex flex-wrap p-2 bg-light border rounded" style="max-width: 100%; transition: all 0.3s ease;"><!-- Filtros activos se insertan por JS -->
	</div>
</div>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/components/filtros/main.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="module">
        import { inicializarEventosFiltrosActivos } from '{{ asset('assets/js/components/filtros/events/filtrosActivosEvents.js') }}';
        
        document.addEventListener('DOMContentLoaded', function() {
            inicializarEventosFiltrosActivos();
        });
    </script>
{% endblock %}

